<ion-header>
  <ion-toolbar>
    <ion-title>Teste</ion-title>
    <ion-buttons left>
      <button ion-button icon-only class="my-style-for-modal" (click)="onEvent('onClose')">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding *ngIf="data != null">
    <ion-col col-12 no-padding no-margin>
      <ion-list no-lines>
        <ion-item-sliding *ngFor="let item of typeSelected.infracao;let i = index" [attr.data-index]="i" #slidingItem>
          <ion-item no-lines>
            <ion-label>
            <h2>{{item.codigo}}</h2>
            <div style="margin-top: 3px;">
              <p #textContent1 id="read-more{{i}}" text-wrap>
                {{item.infracao}}
              </p>
              <div class="read-more-link">
                <a readMore [readMore-length]="80"
                   [readMore-element]="textContent1">
                  <span class="less">Menos <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  <span class="more">Mais <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </a>
              </div>
            </div>
            </ion-label>
            <ion-toggle color="green" item-end [(ngModel)]="item.checked"></ion-toggle>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
      <button ion-button round color="secondary" float-right
              class="endService"  (click)="onEvent('onSaveViolations', data, $event)"
              style="margin-right: 20px; background-color: #1EB3CC !important;">
        Continuar
      </button>
    </ion-col>
  </ion-grid>
</ion-content>

