<ion-header>
  <ion-toolbar>
    <ion-title>Infração</ion-title>
    <ion-badge color="accent">{{typeSelected.length}}</ion-badge>
    <ion-buttons end>
      <button ion-button icon-only (click)="onEvent('onClose', $event)"><ion-icon name="checkmark"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-segment ng-model="categories" full="true" color="secondary" (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let type of violations" value={{type.infracao}}>
      {{type.infracao}}
    </ion-segment-button>
  </ion-segment>-->
  <h1>Infração</h1>
  <ion-select [(ngModel)]="categories.id_categoria" name="categories.id_categoria" color="secondary" (ionChange)="onSelectChange($event)">
    <ion-option *ngFor="let violation of violations" value="{{ violation.id_categoria }}">
      {{ violation.categoria }}
    </ion-option>
  </ion-select>

  <div *ngIf="categorieSelected">

    <ion-list>
      <ion-item *ngFor="let infracao of categorieSelected.infracao" text-wrap>
        <ion-label item-title>{{infracao.codigo }}: {{infracao.item}}</ion-label>
        <ion-checkbox color="secondary"
                      (ionChange)="updateTypeSelected(infracao)"
                      [ngModel]="infracao.checked"></ion-checkbox>
      </ion-item>
    </ion-list>

  </div>
  <!--<div *ngIf="categories">
    <ion-list>
      <ion-item *ngFor="let type of filterItemsOfViolation('Lotes/Edificações')" text-wrap>
        <ion-label item-title>{{type.title}}</ion-label>
        <ion-checkbox color="secondary"
                      (ionChange)="updateTypeSelected(type)"
                      [ngModel]="type.checked"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>-->

  <!--<div *ngIf="categories">
    <ion-list>
      <ion-item *ngFor="let type of filterItemsOfViolation('Logradouros públicos')" text-wrap>
        <ion-label item-title>{{type.title}}</ion-label>
        <ion-checkbox color="secondary" (ionChange)="updateTypeSelected(type)"
                      [ngModel]="type.checked"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>-->
  <div style="margin-bottom: 30px;" *ngIf="false">
    <button ion-button full color="secondary" (click)="onEvent('onSaveViolations', typeSelected, $event)">Salvar</button>
  </div>

</ion-content>
