<ion-grid no-padding>
  <ion-row *ngIf="data != null">
    <ion-col col-12>
      <ion-list no-margin *ngIf="data.length == 0">
        <span>Nenhuma ocorrência encontrada</span>
      </ion-list>
      <ion-list no-margin *ngIf="data.length > 0">
        <ion-item-sliding *ngFor="let item of data" #slidingItem>
          <ion-item no-lines
                    (click)="onEvent('onItemClick', item, $event)"
                    [ngClass]="{'naolido': !item.lida}">
            <ion-icon icon-small item-left class="iconItem" style="color: #65c55a !important;">
              <i class="icon icon-alarm"></i>
            </ion-icon>
            <!-- Title -->
            <h2>{{item.tipo}}</h2>
            <div style="margin-top: 3px;">
              <p class="itemDetalhes">{{item.endereco}}</p>
            </div>

            <ion-icon icon-small item-end>
              <i class="icon icon-chevron-right"></i>
            </ion-icon>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
