<ion-grid no-padding>
  <ion-row *ngIf="data != null">
    <ion-col col-12>
      <ion-list no-margin *ngIf="data.length == 0">
        <span>Nenhuma ocorrência encontrada</span>
      </ion-list>
      <ion-list no-margin *ngIf="data.length > 0">
        <ion-item-sliding *ngFor="let item of data" #slidingItem>
          <ion-item border no-lines
                    (click)="onEvent('onItemClick', item, $event)"
                    [ngClass]="{'naolido': !item.lida}">
            <ion-avatar item-left>
              <text-avatar [text]="item.tipo" [color]="colorAvatar" item-left style="margin-top:25px;"></text-avatar>
            </ion-avatar>
            <h2>{{item.tipo}}</h2>
            <div style="margin-top: 3px;">
              <h3>{{item.endereco}}</h3>
              <h4 item-subtitle [ngClass]="dueNotification(item.vencimento)">{{item.vencimento | duenotification}}</h4>
            </div>
            <ion-note item-end class="ionNoteDate"><span>{{item.data_cadastro  | date: 'dd/MM/yyyy'}}</span></ion-note>
          </ion-item>
          <ion-item-options no-lines>
            <button ion-button color="green" text-capitalize padding>
              Ver detalhes
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
