detail-service {
  ion-img {
    width: 60px !important;
    height: 60px !important;
    position: absolute;
    top: 21px;
  }

  .itemTitleDetail{
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ion-icon{
    font-size: 25px !important;
  }

  span{
    font-size: 19px !important;
    color: #4e4e4e !important;
  }

  ion-avatar{
    margin: 0px;
  }

  .icon-thumb-up{
    color: #00A000;
  }

  .icon-thumb-down{
    color: red;
  }

  a {
    color: #000000;
  }

  .ionNoteStatus{
    right: 0px;
    position: absolute;
    top: 27px;
  }

  .ionNoteStatus, span{
    font-size: 12px;
  }

  .ionNoteDate{
    position: relative;
    top: 24px;
    left: 0px;
  }

  #status{
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
  }

  .open{
    width: 10px;
    height: 10px;
    background: red;
  }

  .close{
    width: 10px;
    height: 10px;
    background: green;
  }

  .pending{
    width: 10px;
    height: 10px;
    background: orange;
  }

  .text-md-accent {
    color: #4e4e4e !important;
    font-size: 1.3em !important;
  }

  [ion-affix] {
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    color: theme-colors('textColors', 'accentDark');
    border-bottom: $item-divider-small;
    border-top: none !important;
    position: relative;
    margin: 0;

    .label-ios,
    .label-md {
      margin: 0;
    }
  }

  [card-title] {
    font-size: font-size-text('h4') !important;
    font-weight: 400;
  }

  [card-subtitle] {
    font-size: font-size-text('h6') !important;
  }

  [card-body-text]{
    font-size: 1.2em !important;
  }

  ion-card {
    width: 100% !important;
    box-shadow: none !important;

    ion-avatar {
      min-width: 48px !important;
      min-height: 48px !important;
      z-index: 1 !important;
      filter: none !important;

      img {
        width: 48px !important;
        height: 48px !important;
      }
    }

    ion-card-content {
      padding-top: 28px !important;
    }
  }

  .timeline{
    padding: 7px 28px 28px 22px;
    margin: 10px 10px 10px;
    border-radius: 2px;
    background: white;
  }

  .row {
    display: flex;
  }

  /* Create two equal columns that sits next to each other */
  .column {
    flex: 40%;
    padding: 10px;
  }

  .button-inner{
    font-size: 3.5vw !important;
    color: white !important;
  }

  .details span {
    font-size: 1.1em !important;
  }

  .details a{
    font-size: 0.9em !important;
    color: #4e4e4e;
  }

}
