<ion-grid no-padding>
  <ion-row *ngIf="data != null && data.length >= 0">
     <ion-col col-12>
      <ion-list-header header-section padding-bottom padding-horizontal>
        <text-avatar [text]='data[0].tipo' [color]="colorAvatar" item-left style="margin-top:25px;"></text-avatar>
        <div>
          <h2 item-title text-capitalize margin-top text-wrap>{{data[0].tipo}}</h2>
          <p item-subtitle no-margin text-wrap style="font-size: 11px !important;">{{data[0].numero_atendimento}}</p>
        </div>
        <ion-note item-end class="ionNoteStatus">
          <div id="status" [ngClass]="{
          'open':data[0].status_id == '1',
          'close':data[0].status_id  == '2',
          'pending':data[0].status_id == '3'
          }"></div>
        </ion-note>
        <ion-note item-end class="ionNoteDate"><span style="font-size: 12px !important;">{{data[0].data_abertura | date: 'dd/MM/yyyy'}}</span></ion-note>
      </ion-list-header>
      <ion-list no-margin>
        <ion-item-sliding>
          <ion-item no-lines>
            <ion-icon name="pin"></ion-icon>
            <span>{{data[0].endereco}}</span>
          </ion-item>
          <ion-item no-lines>
            <ion-icon name="md-person"></ion-icon>
            <span>{{data[0].nome_solicitante}}</span>
          </ion-item>
          <ion-item no-lines>
            <ion-icon name="md-attach"></ion-icon>
            <span *ngFor="let attach of data[0].anexos">
              <a href="{{ attach }}" onclick="window.open(this.href, '_system', 'location=yes');" >{{ attach.split('.').pop() }}</a>
            </span>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
      <div style="padding: 7px 28px 0px 28px;">
        <p card-body-text>
          {{data[0].descricao}}
        </p>
      </div>

      <div style="padding: 7px 28px 28px 28px;" *ngIf="data[0].status_id == 1">
        <button color="secondary"
                (click)="onEvent('onEndService', data[0], $event)"
                class="endService">Finalizar Ocorrência</button>

       <!-- <ion-icon icon-large (click)="onEvent('onOpenService', data[0], $event)">
          <i class="icon icon-thumb-down"></i>
        </ion-icon>--><!-- <ion-icon icon-large (click)="onEvent('onOpenService', data[0], $event)">
          <i class="icon icon-thumb-down"></i>
        </ion-icon>-->

        <button color="secondary"
                (click)="onEvent('onOpenService', data[0], $event)"
                class="openService">Gerar Notificação</button>
      </div>


      <div style="padding: 7px 28px 28px 28px;" *ngIf="data[0].status_id == 3">
        <ion-icon icon-large>
          <i class="icon icon-thumb-up" (click)="onEvent('onCloseNotification', data[0], $event)"></i>
        </ion-icon>
        <ion-icon icon-large (click)="onEvent('onEndNotification', data[0], $event)">
          <i class="icon icon-thumb-down"></i>
        </ion-icon>
      </div>
      <div class="timeline" *ngIf="data[0].status_id == 2 || data[0].status_id == 3 ">
        <div style="padding-bottom: 10px;">
          <p card-body-text>
            Linha do tempo
          </p>
        </div>
        <ion-list *ngFor="let item of data" class="list-inset">
          <!--Text Header Top-->
          <ion-list-header ion-affix [content]="content">
            <ion-item no-margin no-padding no-lines>
              <h2 item-start no-margin header-title text-capitalize style="font-size: 25px !important;">{{item.titulo}}</h2>
              <div item-content item-subtitle>
                {{item.data_cadastro | date:"dd/MM/yy"}}
              </div>
            </ion-item>
          </ion-list-header>
          <!--Text Content List -->
          <ion-card no-margin>
            <ion-item>
              <ion-avatar item-start border>
                <text-avatar [text]='item.nome' [color]="colorAvatar" item-left style="margin-top:25px;"></text-avatar>
              </ion-avatar>
              <h2 item-subtitle text-capitalize>{{item.nome}}</h2>
            </ion-item>
            <ion-card-content>
              <div [innerHTML]="item.comentario | comment"></div>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>

    </ion-col>
  </ion-row>
</ion-grid>
