page-group-violations {
  .item-wrapper{
    padding: 15px !important;
  }

  .notification-ring{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #1eb3cc;
    border-radius: 10px;
    margin-left: 10px;
  }

}
