page-notification {
  .title-components {
    color: theme-colors('textColors', 'secondary');
    font-size: 16px;
    font-weight: normal;
    clear: both;
    display: block;
    margin: 15px 0;
    text-transform: uppercase;
  }

  .title-components span {
    text-transform: none;
    color: black;
    font-size: 20px;
  }

  .block-insert {
    color: theme-colors('textColors', 'secondary');
    font-size: 16px;
    font-weight: normal;
    clear: both;
    display: block;
    margin: 15px 0;
    text-transform: uppercase;
    border-bottom: 1px solid theme-colors('textColors', 'accentLight');
    padding-bottom: 10px;
    position: absolute;
    width: 90%;
  }


  .fab-md-primary {
    width: 55px;
    height: 55px;
    position: absolute;
    top: -11px;
    right: 0px;
    color: #fff;
    background-color: #1EB3CC;
    font-size: 1.5em;
  }

  .item-ios.item-label-stacked [item-right],
  .item-ios.item-label-floating [item-right],
  .item-ios.item-label-stacked [item-end],
  .item-ios.item-label-floating [item-end] {
    position: relative;
    top: 11px;
  }

  .item-md.item-label-stacked [item-right],
  .item-md.item-label-floating [item-right],
  .item-md.item-label-stacked [item-end],
  .item-md.item-label-floating [item-end] {
    position: relative;
    top: 11px;
  }


  ion-grid,
  ion-row {
    height: 100%;
  }
  // Avatar
  ion-thumbnail {
    display: block;
    clear: both;
    filter: none;
    opacity: 1;

    img {
      max-width: 50px;
      max-height: 50px;
    }
  }
  // Title
  [title] {
    color: #4e4e4e !important;
    font-size: 1.3em !important;
  }

  [stacked] {
    font-size: 10px !important;
  }

  [ion-button] {
    font-size: 0.8em !important;
  }



  .buttonFab span {
    position: relative !important;
    font-size: 2em !important;
   // top: -0.1em !important;
  }

  .item-md.item-input.item-input-has-focus .item-inner, item-md.item-input.input-has-focus .item-inner{
    border-bottom: 1px solid #dedede !important;
  }

  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom: 1px solid #dedede !important;
  }

  .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid #dedede !important;
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom: 1px solid #dedede !important;
  }

  .text-input::-moz-placeholder {
    color: #afadad;
  }

  .text-input:-ms-input-placeholder {
    color: #afadad;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #afadad;
  }
}
