<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-left>{{params.title}}</ion-title>
  </ion-navbar>
</ion-header>
<!--Content-->
<ion-content padding>
  <ion-grid>
    <form [formGroup]="notificacaoForm">
      <h4 ion-text color="accent" title>Endereço do notificado</h4>
      <ion-row>
        <ion-col>
          <ion-item no-padding [ngClass]="{'error-border':!notificacaoForm.controls.logradouro.valid && notificacaoForm.controls.logradouro.touched}">
            <ion-input required type="text" [(ngModel)]="params.data.logradouro" formControlName="logradouro" placeholder="Logradouro"></ion-input>
            <ion-icon name="pin" item-right (click)="getCurrentPosition()" style="color: #1eb3cc"></ion-icon>
          </ion-item>
          <ion-item no-padding *ngIf="notificacaoForm.controls.logradouro.hasError('required') && notificacaoForm.controls.logradouro.touched">
            <p>Desculpe, o campo logradouro é obrigatório!</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <ion-item no-padding>
            <ion-input placeholder="Número" type="text" [(ngModel)]="params.data.numero" formControlName="numero"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-8>
          <ion-item no-padding>
            <ion-input placeholder="Complemento" type="text" [(ngModel)]="params.data.complemento" formControlName="complemento"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <ion-item no-padding>
            <ion-input placeholder="Lote" type="text" [(ngModel)]="params.data.lote" formControlName="lote"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-8>
          <ion-item no-padding>
            <ion-input placeholder="Quadra" type="text" [(ngModel)]="params.data.quadra" formControlName="quadra"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-buttons style="margin-top:17px">
        <button ion-button round color="secondary" class="endService"
                [disabled]="params.data.logradouro ? (params.data.logradouro.length > 0 ? false : true) : true"
                (click)="searchIntimate(notificacaoForm.value)">
          Buscar Proprietário
        </button>
      </ion-buttons>
      <div>
        <ion-row style="padding-top: 25px">
          <h4 ion-text color="accent" title>Intimado</h4>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <ion-input placeholder="Nome" type="text"
                         [(ngModel)]="params.data.nome_razaosocial_proprietario"
                         formControlName="nome_razaosocial_proprietario"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <ion-input placeholder="CPF"
                         type="text"
                         [(ngModel)]="params.data.cpf_cnpj_proprietario"
                         formControlName="cpf_cnpj_proprietario"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <div>
        <ion-row style="padding-top: 25px">
          <h4 ion-text color="accent" title>Prazo para regularização</h4>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <ion-item no-padding margin-top [ngClass]="{'error-border':!notificacaoForm.controls.prazo.valid && notificacaoForm.controls.prazo.touched}">
              <ion-input required placeholder="Prazo" type="number"
                         [(ngModel)]="params.data.prazo" formControlName="prazo"
                         min="1"></ion-input>
            </ion-item>
            <ion-item no-padding *ngIf="notificacaoForm.controls.prazo.hasError('required') && notificacaoForm.controls.prazo.touched">
              <p>Desculpe, o prazo é obrigatório!</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <div style="margin-bottom: 10px;">
        <ion-row style="padding-top: 25px">
          <h4 ion-text color="accent" title>Infração</h4>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="compomets">{{violationsChecked == 0 ? "Sem infração vinculada" : (violationsChecked) +" infrações selecionadas"}}</span>
            <button ion-fab (click)="onOpenViolation()">
              <ion-icon name="pin"></ion-icon>
            </button>
          </ion-col>
          <ion-item no-padding margin-top style="width: 0px; height: 0px;"
                    [ngClass]="{'error-border':!notificacaoForm.controls.violations.valid && notificacaoForm.controls.violations.touched}">
            <ion-input required formControlName="violations" type="hidden"></ion-input>
          </ion-item>
          <ion-item no-padding *ngIf="notificacaoForm.controls.violations.hasError('required') && notificacaoForm.controls.violations.touched">
            <p>Selecione ao menos uma infração!</p>
          </ion-item>
        </ion-row>
      </div>
      <button ion-button round color="secondary"
              class="endService" [disabled]="!notificacaoForm.valid" (click)="onSave()"
              style="margin-top: -20px;">
        Salvar
      </button>
      <ion-row style="margin-bottom: 39px;">
        </ion-row>
    </form>
  </ion-grid>

</ion-content>
