// Segoe Bold
@font-face {
  font-family: Segoe UI;
  src: url(../assets/fonts/Segoe/segoe-mt-bold.ttf) format("opentype");
  font-weight: 700;
}

// San Francisco Regular
@font-face {
  font-family: Segoe UI;
  src: url(../assets/fonts/Segoe/segoeui.ttf) format("opentype");
  font-weight: 400;
}
