<!-- Themes Login + logo 2 -->
<ion-content has-header class="loginContent testelogin">
  <ion-grid no-padding *ngIf="data != null" style="margin-top: 50px;">
    <ion-row>
      <ion-col text-center>
        <img [src]="data.logo">
      </ion-col>
    </ion-row>

    <div class="login-box">
      <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)" class="loginForm">
        <ion-row>
          <ion-col>
            <ion-item padding margin-top>
              <!--<ion-item padding margin-top [ngClass]="{'error-border':!authForm.controls.usuario.valid && authForm.controls.usuario.touched}">-->
              <ion-input required type="text" placeholder="{{data.usuario}}" [(ngModel)]="usuario" formControlName="usuario"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item padding>
              <ion-input required type="password" placeholder="{{data.senha}}" [(ngModel)]="senha" formControlName="senha"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!--<ion-item *ngIf="authForm.controls.usuario.hasError('required') && authForm.controls.usuario.touched">
          <p>Desculpe, o nome de usuário é obrigatório!</p>
        </ion-item>
        <ion-item *ngIf="authForm.controls.usuario.hasError('pattern') && authForm.controls.usuario.touched">
          <p>Desculpe, somente letras minúsculas e maiúsculas são permitidas!</p>
        </ion-item>
        <ion-item *ngIf="authForm.controls.usuario.hasError('minlength') && authForm.controls.usuario.touched">
          <p>Desculpe, o nome de usuário deve conter mais de 8 caracteres!</p>
        </ion-item>
        <ion-item *ngIf="authForm.controls.usuario.hasError('maxlength') && authForm.controls.usuario.touched">
          <p>Desculpe, o nome de usuário não pode conter mais de 30 caracteres!</p>
        </ion-item>-->
        <!---Input field password-->

        <!--<ion-item *ngIf="authForm.controls.senha.hasError('required') && authForm.controls.senha.touched">
          < <p>Desculpe, s senha é obrigatório!</p>
        </ion-item>
        <ion-item *ngIf="authForm.controls.senha.hasError('minlength') && authForm.controls.senha.touched">
          <p>Desculpe, senha deve conter mais de 8 caracteres!</p>
        </ion-item>-->
        <div style="margin-top: 40px;">
          <ion-row>
            <ion-col text-center>
              <button ion-button default-button color="secondary"
                      [disabled]="!authForm.valid"
                      type="submit"
                      class="loginSubmit">{{data.login}}</button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col text-center>
              <span (click)="onEvent('onNewPassword')">Esqueci a senha</span>
            </ion-col>
          </ion-row>
        </div>
      </form>
    </div>

    <!---Share Section-->
  </ion-grid>
</ion-content>
