<!---Settings Main Header-->
<ion-split-pane [when]=false>
    <!-- Menu Main Top -->
    <ion-menu [content]="content" *ngIf="params.user != null" id="side-menu">
        <ion-header class="headerMenu">
            <div header-background-image padding>
              <div>
                <text-avatar [text]="params.user.nome" [color]="params.color" item-left></text-avatar>
                <p class="nameMenu">Olá {{params.user ? params.user.nome : ""}}</p>
              </div>
            </div>
        </ion-header>
        <!-- Menu Main List -->
        <ion-content class="contentMenu">
            <ion-list no-margin>
                <button menuClose ion-item item-title main-menu no-lines *ngFor="let p of pages"
                        (click)="openPage(p)">
                    <ion-icon icon-small item-left>
                      <i class="icon {{p.icon}}" [ngStyle]="{'color': p.colorIcon }"></i>
                    </ion-icon>
                    {{p.title}}
                </button>
            </ion-list>
        </ion-content>
    </ion-menu>
    <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
    <ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
