<ion-grid no-padding>
  <ion-row *ngIf="data != null">
    <ion-col col-12>
           <ion-list no-margin *ngIf="data.length == 0">
        <span>Nenhuma ocorrência encontrada</span>
      </ion-list>
      <ion-list no-margin *ngIf="data.length > 0">
        <ion-item-sliding *ngFor="let item of data" #slidingItem>
          <ion-item no-lines
                    (click)="onEvent('onItemClick', item, $event)"
                    [ngClass]="{'naolido': !item.lida}">
            <ion-icon icon-small item-left class="iconItem">
              <i class="icon icon-alarm"></i>
            </ion-icon>
            <!-- Title -->
            <h2>{{item.tipo}}</h2>
            <div style="margin-top: 3px;">
              <h3>{{item.endereco}}</h3>
            </div>

            <ion-icon icon-small item-end>
              <i class="icon icon-chevron-right"></i>
            </ion-icon>

            <!--<ion-note item-end class="ionNoteKm"><span>1,5 km</span></ion-note>-->
            <!-- Icon -->
          </ion-item>
          <!--Action Button-->
          <ion-item-options no-lines>
            <button ion-button color="green" text-capitalize padding>
              Ver detalhes
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
