<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="icon-menu" name="menu"></ion-icon>
    </button>
    <ion-title>Aguardando Prazo</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <tab-menu *ngIf="!isEmptyObject(finalized) && !isEmptyObject(waiting) && !isEmptyObject(pending)"
            [dataFinalized]="finalized"
            [dataWaiting]="waiting"
            [dataPending]="pending"
            [events]="params.events"></tab-menu>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <waiting *ngIf="items"
             [data]="items"
             [events]="params.events">
  </waiting>
</ion-content>
